@charset "UTF-8";

.docs-title {
  font-size: 3rem;
  font-weight: 300;
}

.docs-lead {
  font-size: 1.5rem;
  font-weight: 300;
}

.page-wrapper {
  > .docs-section-title:not(first-child) {
    margin-top: 3rem;
  }
  > p, > ol, > ul:not(.nav) {
    max-width: 80%;
  }
}

.docs-example {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid #f8f8f8;
}

pre {
  position: relative;
  z-index: 1;
}

.main-navbar {
  a.active {
    color: #fff;
  }
}

.nav-tabs-code {
  padding: 0.5rem 1rem 0 1rem;
  background-color: #f8f8f8;
  .nav-link {
    &.active {
      border-bottom-color: #f8f8f8;
      background-color: #f8f8f8;
    }
  }
}

.table-docs {
  td {
    vertical-align: top;
  }
}

.thumbnail-upload:empty:lang(en)::after {
  content: 'Drop files here.';
}